@import '../../App.scss';

.auth {
  height: 100%;
  overflow-x: hidden;

  .left-view,
  .right-view {
    width: 50%;
    height: 100%;
    float: left;
  }

  .left-view::after,
  .right-view::after {
    clear: both;
    display: block;
    content: '';
  }

  .left-view {
    background-color: $foodwar-color;
  }

  .right-view {
    background-color: skyblue;
  }

  /* Extra large devices (대형 노트북 및 데스크톱, 1200px 이상) */
  @media only screen and (max-width: 1200px) {}

  /* Large devices (노트북 / 데스크톱, 992px 이상) */
  @media only screen and (max-width: 992px) {
    .left-view {
      height: 30%;
      padding: 15px 0;
    }

    .right-view {
      height: 70%;
    }

    .left-view,
    .right-view {
      float: none;
      width: 100%;
    }
  }

  /* Medium devices (가로 태블릿, 768 픽셀 이상) */
  @media only screen and (max-width: 768px) {}

  /* Small devices 세로 형 태블릿 및 대형 휴대 전화 (600px 이상) */
  @media only screen and (max-width: 600px) {}

  /* Extra small devices (480px 이하) */
  @media only screen and (max-width: 480px) {}
}