$foodwar-color: #2e736f;
$foodwar-red: #d21d36;

html,
body,
#root {
  height: 100%;
}

div {
  box-sizing: border-box;
}

.vertical-middle-wrap {
  display: table;
}

.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}

.food-btn {
}

.food-btn:hover {
}
